body {
  background: linear-gradient(
    340deg,
    hsl(240deg 65% 60%) 0%,
    hsl(261deg 59% 63%) 8%,
    hsl(277deg 52% 67%) 17%,
    hsl(293deg 45% 72%) 26%,
    hsl(239deg 71% 82%) 34%,
    hsl(210deg 89% 77%) 43%,
    hsl(197deg 79% 73%) 52%,
    hsl(206deg 88% 72%) 60%,
    hsl(220deg 83% 74%) 69%,
    hsl(255deg 61% 73%) 77%,
    hsl(264deg 79% 73%) 85%,
    hsl(273deg 91% 72%) 93%,
    hsl(283deg 98% 68%) 100%
  );

  background-attachment: fixed;
  }

form {
  width: 200px;
  margin: 20px auto;
}  

.titulo {
  text-align: center;
  font-family:'orbitron';
  font-size:50px;

}

.titulo a {
  color: inherit; /* Heredar el color del texto circundante */
  text-decoration: none; /* Quitar subrayado */
}

.futer{
  text-align: end;
  margin-top: 150px;
}




.pokimoni-card {
  font-family:'orbitron';
  position: relative;
  height: fit-content;
  max-width: 450px;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  background: linear-gradient(155deg, rgba(226,237,181,0.9976190305223652) 0%, rgba(102,162,215,1) 76%);
  border: 2px solid black;
}

.pokimoni-card::before {
  content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;

}

.img-container {
  position:static;
  width: 200px;
  margin: 5px auto;
}

.poke-stats div {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding: 5px;
  font-size: 18px;
}

.poke-types div {
  position: relative;
  padding: 2px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

   

}

.pokimoni-img {
  width: 200px;
  border-radius: 10%;
}